<!DOCTYPE html>
<html>
  <head>
    <title>MathGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="msg">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
